html {
	height: 100%
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
}
#container {
	height: 100%;
}
div #header {
	background: green;
	height: 5px;
}

div #content {
	height: 320px;
	overflow: hidden;
	font-family: Arial;	
}

.loading {
	background: url('ajax-loader.gif') no-repeat center;	
}

div .imageHolder {

	margin: 10px 5px;
	display: inline-block;
}

img {
	display: block;
}
div .imageInfo {
	position: relative;
	top: -50px;
	opacity: 0.7;
	padding: 3px 5px;
	font-size: 12px;
	color: white;
}

div #infoBox {
	height: 300px;
	width: 400px;
	position: absolute;
	top: 320px;
	left: 50px;
}

#refreshButton:hover {
	background: none repeat scroll 0 0 #800000;
	
}

#refreshButton {
	background: none repeat scroll 0 0 #480000;
	border: 1px solid #880000;
	color: #cccccc;
	display: block;
	font-family: arial;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	opacity: 0.8;
	text-align: center;
	width: 200px;
	cursor: pointer;
}

#fblikeButton {
	margin-top: 300px;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;}


#logoHolder {
	position: absolute;
	left: 0px;
	top: 550px;
	width: 94%;
	padding: 15px 3%;
	background: #101010;
	opacity: 0.5;
	z-index: 99;
}
#logo {
	color: #680000;
	font-size: 50px;
	font-family: arial;
	font-weight: bold;
}

#logoTag {
	color: white;
	padding-left: 2px;
	
}

#fblikeButton {
	height: 25px;
	overflow: hidden;
}



