#map_canvas {
	height: 470px;
	width: 1040px;
	display: block;
	background: black;
	margin-left: auto;	
	
}

#photos {
	margin: 0px;
	display: inline-block;
	height: 600px;
	width: 100%;
	overflow: hidden;
}

div .imageHolder {
	cursor: pointer;
}
